.filter {
  font-style: italic;
  color: darkblue;
  font-size: 18px;
  font-weight: 600;
}

.input {
  border-radius: 3px;
  margin-top: 5px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-bottom: 20px;
}
